<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.WebsiteMenuDao">
    <resultMap id="menuMap" type="com.xiaowo.WebsiteMenu">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
    </resultMap>


    <select id="findFirstWebsiteMenu" resultMap="menuMap">
        select * from website_menu where parent_id=0 and app_pc=#{client}
    </select>

    <select id="findWebsiteMenuById" resultMap="menuMap">
        select * from website_menu where id=#{id} limit 1
    </select>

    <select id="findWebsiteMenuByParentId" resultMap="menuMap">
        select * from website_menu where parent_id=#{parentId}
    </select>

</mapper>